<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Login-with-overlay-image.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Navigation-with-Button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css') }}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg navigation-clean-button">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('main.index') }}">Champion de Chile</a>
            <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
                <span class="visually-hidden">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.fechas') }}">Fechas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.puntaje') }}">Puntaje</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.registro') }}">Registro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.tablaposicion') }}">Tabla de Posiciones</a>
                    </li>
                </ul>
                <span class="navbar-text actions">
                    <a class="btn btn-light action-button" role="button" href="{{ url_for('main.login') }}">Logout</a>
                </span>
            </div>
        </div>
    </nav>
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
    <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
</body>

</html>
